{{define "title"}}Index Page{{end}}
{{define "body"}}
<main>
  <form action="/compare" method="post">
    <label for="firstString">First label</label>
    <input id="firstString" type="text" name="firstString">
    <label for="secondString">Second label</label>
    <input id="secondString" type="text" name="secondString">
    <input type="submit">
  </form>
</main>
{{end}}
