{{define "body"}}
<main>
  <form method="get" enctype="multipart/form-data">
    <label for="firstString">First label</label>
    <input id="firstString" type="text" name="firstString">
    <label for="secondString">Second label</label>
    <input id="secondString" type="text" name="secondString">
    <input type="submit">
  </form>
</main>
{{end}}
