{{define "body"}}
<main>
  <form method="post">
    <label for="firstString">First label</label>
    <input id="firstString" type="text" name="firstString">
    <label for="secondString">Second label</label>
    <input id="secondString" type="text" name="secondString">
    <input type="submit">
  </form>
</main>

<ul>
  {{range $element := .}}
    <li>{{$element}}</li>
  {{end}}
</ul>
{{end}}
